@import "../node_modules/vue-good-table/src/styles/style.scss";

.vgt-wrap {
  @apply bg-primary-100 rounded-2xl p-2;

  .vgt-inner-wrap {
    @apply shadow-none;
  }

  .vgt-table {
    @apply border-none bg-primary-100 rounded-2xl overflow-hidden;

    .vgt-right-align,
    .vgt-left-align {
      @apply border-none text-left;
    }

    thead {
      th {
        background: none;
        @apply font-semibold bg-primary-100 text-primary-600;
      }
    }

    tbody {
      @apply rounded-2xl overflow-hidden;
      tr:nth-of-type(odd) {
        @apply bg-primary-100;
      }
    }
  }
}

.dark .vgt-wrap {
  @apply bg-background-800;
  .vgt-table {
    @apply bg-background-700;
    td {
      @apply text-primary-400 text-opacity-80;
    }
  }
  thead th {
    @apply bg-background-800 text-primary-200;
  }
  tbody {
    tr:nth-of-type(odd) {
      @apply bg-background-800;
    }
  }
}
