@import "../node_modules/vue-good-table/src/styles/style.scss";

.vgt-wrap {
  @apply bg-mariner-100 p-2 rounded-2xl;

  .vgt-inner-wrap {
    @apply shadow-none;
  }

  .vgt-table {
    @apply bg-mariner-light-100 rounded-2xl overflow-hidden border-none;

    .vgt-right-align,
    .vgt-left-align {
      @apply text-left border-none;
    }

    thead {
      th {
        background: none;
        @apply text-water-600 font-semibold bg-mariner-100;
      }
    }

    tbody {
      @apply rounded-2xl overflow-hidden;
      tr:nth-of-type(odd) {
        @apply bg-mariner-100;
      }
    }
  }
}

.dark .vgt-wrap {
  @apply bg-water-dark-800;
  .vgt-table {
    @apply bg-water-dark-700;
    td {
      @apply text-mariner-light-400 text-opacity-80;
    }
  }
  thead th {
    @apply text-mariner-light-200 bg-water-dark-800;
  }
  tbody {
    tr:nth-of-type(odd) {
      @apply bg-water-dark-800;
    }
  }
}
